[submodule "ext/libedbserver"]
	path = ext/libedbserver
	url = https://github.com/CMUAbstract/edb-firmware
[submodule "ext/libedb"]
	path = ext/libedb
	url = https://github.com/CMUAbstract/libedb
[submodule "ext/maker"]
	path = ext/maker
	url = https://github.com/CMUAbstract/maker
[submodule "ext/libsprite"]
	path = ext/libsprite
	url = https://github.com/CMUAbstract/libsprite
[submodule "ext/libio"]
	path = ext/libio
	url = https://github.com/CMUAbstract/libio
[submodule "ext/libmsp"]
	path = ext/libmsp
	url = https://github.com/CMUAbstract/libmsp
[submodule "ext/libmspsoftuart"]
	path = ext/libmspsoftuart
	url = https://github.com/CMUAbstract/msp430-softuart
[submodule "ext/libcapybara"]
	path = ext/libcapybara
	url = https://github.com/CMUAbstract/libcapybara
[submodule "ext/libmspuartlink"]
	path = ext/libmspuartlink
	url = https://github.com/CMUAbstract/libmspuartlink
